{   
  "extends": ["react-app", "plugin:prettier/recommended"],   
  "plugins": ["prettier"],   
  "rules": {  // rules에 다음과 같이 추가
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ]
  }
}

