body {
  margin: 0;
  font-family: "GmarketSansTTFMedium";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p {
  font-family: "GmarketSansTTFMedium";
}
div {
  font-family: "GmarketSansTTFMedium";
}
button {
  font-family: "GmarketSansTTFMedium";
}
input {
  margin: 0;
  font-family: "GmarketSansTTFMedium";
}
code {
  font-family: "GmarketSansTTFMedium";
}
span {
  font-family: "GmarketSansTTFMedium";
}
@font-face {
  font-family: "GmarketSansTTFMedium";
  src: url("./fonts/GmarketSansTTFMedium.ttf") format("truetype");
}
